# Discord Bot Token
DISCORD_TOKEN=seu_discord_token_aqui

# Discord IDs
GUILD_ID=1491753893099606108
CHANNEL_ID=1492514823488143550

# GitHub Configuration
GITHUB_TOKEN=seu_github_token_aqui
GITHUB_REPO=seu_username/TucanosRacingBR-SITE
GITHUB_REPO_PATH=src/data
GITHUB_FILE_NAME=pilotos.json
GITHUB_BRANCH=main

# Local Git Configuration
LOCAL_REPO_PATH=../
